.container {
  padding: 20px;
}

.paper {
  //height: calc(100vh - 40px);
  width: 100%;
  padding: 60px 60px;
}

.header {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subTitle {
  color: #bdbdbd;
  font-weight: 400;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  & > span {
    margin-left: 10px;
  }
}

.title {
  margin: 10px 0;
}

.gridContainer {
  padding: 20px 0 0;
}

.gridItem {
  height: 100%;
}

.dividerContainer {
  display: flex;
  justify-content: center;
}

.linkWrap {
  margin-bottom: 8px;
}

.link {
  display: flex;
  align-items: center;
  color: #000;

  &:hover {
    color: #1976d2;
  }
}

.linkIcon {
  margin-right: 10px;
}

.chipContainer {
  margin-bottom: 10px;
}

.chip {
  font-size: 18px;
  margin: 5px;
}

.text {
  margin-bottom: 20px;
}

.edu {
  margin-bottom: 10px;
}

.about {

}

.contacts {
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  .gridContainer {
    flex-direction: column;

    & > * {
      max-width: 100%;
    }
  }

  .gridContainer > div:first-child {
    order: 2;
  }

  .paper {
    padding: 15px 15px;
  }

  .title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .edu {
    flex-direction: column;

    & > * {
      max-width: 100%;
    }
  }

  .header {
    display: block;
  }

}
